FILE_STORAGE_PATH=content
QDRANT_URL="http://localhost:6333"

# For OpenAI
# export EMBEDDINGS_PROVIDER=openai
# export EMBEDDINGS_API_KEY=your_openai_key

# For Groq
# export EMBEDDINGS_PROVIDER=groq
# export EMBEDDINGS_API_KEY=your_groq_key
# export EMBEDDINGS_MODEL=text-embedding-004

# For Ollama
# export EMBEDDINGS_PROVIDER=ollama
# export EMBEDDINGS_BASE_URL=http://localhost:11434
# export EMBEDDINGS_MODEL=llama2

# For LM Studio
export EMBEDDINGS_PROVIDER=lmstudio
export EMBEDDINGS_BASE_URL=http://localhost:1234  # LM Studio default port
export EMBEDDINGS_MODEL=your_model